body {
    background: url(/img/cream.jpg);
	background-size: cover;
    background-attachment: fixed
}

li {
    list-style-type: none;
    margin: 5px;
}

ol {
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
}

form {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 10px;
    background: #d8d8d8;
    border: 1px solid #ccc;
}

form input {
    border: 0;
    padding: 10px;
    width: 100%;
    margin-right: 1px;
}

form button {
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}

.bubble {
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
    padding: 0px 8px;
    background: #6fcef2;
    box-shadow: 2px 0px 2px gray;
    margin-right: 20%;
}

.lightBubble {
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
    padding: 0px 8px;
    background: #c4d4ed;
    box-shadow: 2px 0px 2px gray;
    color:darkgrey;
}

.bubbleright {
    color: white;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
    padding: 0px 8px;
    background: #5a46b4;
    box-shadow: 2px 0px 2px gray;
    margin-left: 20%;
}

.head {
    border-bottom: 1px solid #62b1cf;
    width: 100%;
    height: 24px;
    display: flex;
    margin-bottom: 5px;
}

.headright {
    border-bottom: 1px solid #7f6adb;
    width: 100%;
    height: 24px;
    display: flex;
    margin-bottom: 5px;
}

.name {
    font-weight: bold;
    width: 100%;
}

.timestamp {
    font-size: smaller;

}

p {
    margin: 5px 0;
    font-family: monospace;
}

.animated {
    animation: slide-up 0.4s ease;
}

#listBox {
    position: fixed;
    bottom: 52px;
    left: 12px;
    background: white;
    box-shadow: 0px 0px 2px grey;
    min-width: 150px;
    display: block;
}

.listItem {
    background: white;
    cursor: pointer;
    font-family: monospace;
    border-bottom: 1px solid #ececec;
    padding: 4px;
}

.listItem:hover {
    background-color: #9fd1e6;
    -webkit-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;

}


@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-toggle {
   position: relative;
   float: right;
   padding: 9px 10px;
   margin-top: 1px;
   margin-right: 15px;
   margin-bottom: 2px;
   background-color: #cccccc;
   border: 1px solid transparent;
   border-radius: 4px;
}

.navbar-toggle .icon-bar {
   display: block;
   width: 22px;
   height: 2px;
   background-color:#000000;
   border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
   margin-top: 4px;
}